<% @team_number.times do %>

<div class="row">
      <div class="col-md-4">

      <% rand_num = rand(1..1000) %>
      <% set_number = rand(1..4) %>
      <% bg = rand(1..2) %>

      <% if set_number == 1 %>
        <% set = "set1" %>
      <% elsif set_number == 2 %>
        <% set = "set2" %>
      <% elsif set_number == 3 %>
        <% set = "set3" %>
      <% else %>
        <% set = "set4" %>
      <% end %>

      <% if bg == 1 %>
        <% background = "bg1" %>
      <% else %>
        <% background = "bg2" %>
      <% end %>

      <% avatar = Faker::Avatar.image(rand_num, "250x250","png", set, background) %>


        <img src="<%= avatar %>">
      </div>
      <div class="col-md-8">
        <h3 class="card-title">Superhero Name: <br><%= @hero_name%> </h3>
        <h3 class="card-title">Super Power: <br><%= @hero_power %></h3>
        <br>
        <h4 class="card-text">
        Your Undercover Day Job is:<br> <%= @corp_title%>
        </h4>
        <h4 class="card-text">
        Your Corporate Super Power is: <br><%= @corp_power %>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      <div>
    </div>

<% end %>